body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}


main {
    //background-color: burlywood;
}   

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 8px;
    background: #add7e0;
}

// efects
.bkgr-greem {
    color: $success-color;
}

.bkgr-red {
    color: $danger-color;
}

.m-btn-s {
    background-color: $success-color;
    color: $constrast-light-color;
}
