.m-main-header{
    background-color: #1F7396;
}

.m-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 3em;
}

.m-navbar > ul{
    height: 2em;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    align-items: center;
}

.m-navbar > ul > li{
    margin: .3em;
    padding: .5em;
    border-radius: .2em;
}

.m-navbar > ul > li:hover{
    background-color: #FFF;  
}

.m-navbar > ul > li:hover a{
    color: #1F7396;  
}


.m-navbar a{
    text-decoration: none;
    color: #FFFF
}