.content-disciplines {
    width: 55%;
    margin: 3em auto;

    header{
        @include displayFlexRow();
        justify-content: space-between;

        i{
            font-size: xx-large;
            color: $success-color;
        }
    }

    .card{
        margin: 1em 0;

        .m-btn{
            background-color: $success-color;
            color: $constrast-light-color;
        }
    }
}
