.m-main-header{
    @include displayFlexRow();
    position: relative;
    width: 100%;
    background-color: $primary-color;

    nav{
        @include displayFlexRow();
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: 3em auto 0 auto;
       
        ul{
            @include displayFlexRow();
            list-style: none;
            padding: .9em 0 0 0;
            height: 2em;

            li{
                cursor: pointer;
                padding: .5em;
                border-radius: .3em;

                &:hover{
                    background-color: $constrast-light-color;

                    a{ color: $primary-color; }
                }
                
                &:enabled{
                    border-bottom: .2em solid $constrast-light-color;
                }
            }
        }

        #btn-register{
            background-color: $success-color;
            margin-left: 1em;
            a{ color: $constrast-light-color; }
        }


        h1{
            font-size: x-large;
        }

        a{
            text-decoration: none;
            color: $constrast-light-color;
            font-weight: bolder;
        }
    }
}