.content-tasks {
  width: 60%;
  margin: 3em auto;

  header {
    @include displayFlexRow();
    justify-content: space-between;

    i {
      font-size: xx-large;
      color: $success-color;
    }
  }

  .card {
    margin: 1em 0;

    .m-btn {
      background-color: $success-color;
      color: $constrast-light-color;
    }
  }
}

/* This is based on the work of Joshua Saunders */
.board-layout {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: grid;
  grid-template-rows: max-content auto;
  grid-gap: 10px;
  padding: 10px;
  height: 800px;
}

.list-layout {
  display: grid;
  grid-gap: 10px;
}

.board-text {
  font-weight: bold;
  font-size: 28px;
  padding: 5px;
}

.board-lists {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  grid-gap: 10px;
  height: 100;
}

.board-list {
  background-color: rgb(235, 236, 240);
  border-radius: 3px;
  display: grid;
  height: 80vh;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  /* Chrome use a fixed height */
  height: max-content;
  padding: 10px;
}

.list-title {
  font-size: 18px;
  font-weight: bold;
}
.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
  cursor: pointer;
}

.card-header h3{
  font-size: medium;
}