{% extends 'base.html' %}

{% block title %}School Organizer - list{% endblock %}

{% block content %}
<div id="m-div-add">
  <div class="card">
    <div class="card-header">
      <h3>Nova Tarefa</h3>
      <button type="button" class="btn-close" onclick="closeDivAdd()"></button>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn m-btn-s" type="submit">Adicionar</button>
      </form>
    </div>
  </div>
</div>
<div class="content-tasks">
  <header>
    <h2>Tarefas</h2>
    <i class="bi bi-plus-square-fill" id="m-btn-add"></i>
  </header>

</div>

<div class="board-layout container">

  <div class="left">
      <div class="board-text">Today Board</div>
  </div>

  <div id='boardlists' class="board-lists">
      <div id='list1' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
          <div class="list-title">
              To Do
          </div>

          {% for task in tasks %}
          <div class="card text-dark mb-3" id="{{task.id}}" style="max-width: 18rem;" draggable="true" ondragstart="dragStart(event)">
            <div class="card-header">{{task.title}}</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">{{task.description}}</p>
            </div>
          </div>
          {% endfor %}

      </div>
      <div id='list2' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
          <div class="list-title">
              In Progress
          </div>
      </div>
      <div id='list3' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
          <div class="list-title">
              Done
          </div>

      </div>
  </div>
</div>
{% endblock %}