{% extends 'base.html' %}

{% block title %}School Organizer - list{% endblock %}

{% block content %}
<div id="m-div-add" style="display: none;">
  <div class="card">
    <div class="card-header">
      <h3>Nova Disciplina</h3>
      <button type="button" class="btn-close" onclick="closeDivAdd()"></button>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn m-btn-s" type="submit">Adicionar</button>
      </form>
    </div>
  </div>
</div>

<div class="content-disciplines">
  <header>
    <h2>Disciplinas</h2>
    <i class="bi bi-plus-square-fill" id="m-btn-add"></i>
  </header>

  {% for discipline in disciplines %}
  <div class="card">
    <div class="card-header">
      {{discipline.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">{{discipline.description}}</p>
      <a href="/tasks-list/{{discipline.id}}" class="m-btn btn">Ver tarefas</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}