{% extends 'base.html' %}

{% block title %}School Organizer - list{% endblock %}

{% block content %}
<div id="m-div-add" style="display: none;">
  <div class="card">
    <div class="card-header">
      <h3>Nova Tarefa</h3>
      <button type="button" class="btn-close" onclick="closeDivAdd()"></button>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn m-btn-s" type="submit">Adicionar</button>
      </form>
    </div>
  </div>
</div>
<div class="content-tasks">
  <header>
    <h2>Tarefas</h2>
    <i class="bi bi-plus-square-fill" id="m-btn-add"></i>
  </header>
</div>

<div class="board-layout container">
  <div class="left">
    <div class="board-text">Tarefas da disciplina atual</div>
  </div>
  <div id='board-lists' class="board-lists">
    <div id='todo' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
      <div class="list-title">
        To Do
      </div>

      {% for task in tasks %}
      {% if task.state == "todo" %}
      <div class="card" id="{{task.id}}" draggable="true" ondragstart="dragStart(event)">
        <div class="card-header d-flex justify-content-between">
          <h3>{{task.delivery_at}}</h3>
          <div class="btn-acept" style="display: none;">
            <input type="hidden" value="taskalter/{{iddiscipline}}/">
            <a href="taskalter/{{iddiscipline}}/{{task.id}}/" class="btn btn-outline-warning"><i
                class="bi bi-check-circle-fill">Manter aqui?</i></a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text">{{task.description}}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
    <div id='doning' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
      <div class="list-title">
        In Progress
      </div>
      {% for task in tasks %}
      {% if task.state == "doning" %}
      <div class="card" id="{{task.id}}" draggable="true" ondragstart="dragStart(event)">
        <div class="card-header d-flex justify-content-between">
          <h3>{{task.delivery_at}}</h3>
          <div class="btn-acept" style="display: none;">
            <input type="hidden" value="taskalter/{{iddiscipline}}/">
            <a href="taskalter/{{iddiscipline}}/{{task.id}}/" class="btn btn-outline-warning"><i
                class="bi bi-check-circle-fill">Manter aqui?</i></a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text">{{task.description}}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div id='done' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
      <div class="list-title">
        Done
      </div>
      {% for task in tasks %}
      {% if task.state == "done" %}
      <div class="card" id="{{task.id}}" draggable="true" ondragstart="dragStart(event)">
        <div class="card-header d-flex justify-content-between">
          <h3>{{task.delivery_at}}</h3>
          <div class="btn-acept" style="display: none;">
            <input type="hidden" value="taskalter/{{iddiscipline}}/">
            <a href="taskalter/{{iddiscipline}}/{{task.id}}/" class="btn-outline-warning"><i
                class="bi bi-check-circle-fill">Manter aqui?</i></a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text">{{task.description}}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}